[Unit]
Description=I-Sentinel Vision Node
After=network.target isentinel-api.service

[Service]
User=gspe-ai3
WorkingDirectory=/home/gspe-ai3/project_cv/I-Sentinel
EnvironmentFile=/home/gspe-ai3/project_cv/I-Sentinel/.env
EnvironmentFile=/home/gspe-ai3/project_cv/I-Sentinel/vision.env
ExecStart=/home/gspe-ai3/vision-venv/bin/isentinel-vision
Restart=always

[Install]
WantedBy=multi-user.target
